<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">

    <title>Ma Boutique</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- La marque -->
            <a class="navbar-brand" href="{{path('homepage')}}">MA BOUTIQUE</a>

            <!-- Le burger -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav1"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <!-- Le menu -->
            <div class="collapse navbar-collapse" id="nav1">

                <ul class="navbar-nav ml-auto">
                    <li><a class="nav-link" href="{{path('homepage')}}">&nbsp;<i class="fas fa-store-alt"></i>&nbsp;Boutique</a></li>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a class="nav-link" href="{{path('profil')}}"><i class="fas fa-user"></i>&nbsp;Profil</a></li>
                    <li><a class="nav-link" href="{{path('deconnexion')}}"><i class="fas fa-times-circle"></i>&nbsp;Deconnexion</a></li>
                    {% else %}
                    <li><a class="nav-link" href="{{path('inscription')}}"><i class="fas fa-id-card"></i>&nbsp;Inscription</a></li>
                    <li><a class="nav-link" href="{{path('connexion')}}"><i class="fas fa-check-circle"></i>&nbsp;Connexion</a></li>
                    {% endif %}

                    <li><a class="nav-link" href=""><i class="fas fa-shopping-basket"></i>&nbsp;Panier</a></li>

                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Admin
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{path('produit_list')}}"><i class="fas fa-box-open"></i>&nbsp;Gestion Produit</a>
                            <a class="dropdown-item" href="{{path('membre_list')}}"><i class="fas fa-user-friends"></i>&nbsp;Gestion Membre</a>
                            <a class="dropdown-item" href="{{path('commande_list')}}"><i class="fas fa-shopping-cart"></i>&nbsp;Gestion Commande</a>
                        </div>
                    </div>

                {% endif %}
                </ul>

            </div>
        </div>
    </nav>


    <!-- Page Content -->
    <div class="container" style="min-height: 80vh;">
        <div class="row">
            <div class="col-12">
                <!-- ici le contenu spécifique de chaque page -->


                {# Ceci est un commentaire Twig #}
                {% block content %}
                {% endblock %}


            </div><!-- .col-12  -->
        </div><!-- .row -->
    </div><!-- .container -->

    <!-- footer -->
    <div class="container">
        <hr>
        <footer>
            <div class="row text-center">
                <div class="col">
                    <p>Copyright &copy; Ma Boutique - 2019</p>
                </div>
            </div>
        </footer>
    </div><!-- .container -->

</body>

</html>